/*
Best License EU
*/

.header{
    background: #cccccc none repeat scroll 0 0;
    margin: 0;
    padding: 0.5%;
    text-align: center;
    min-width: 700px;
}

body{
    background-color: #00ff00;
    margin: 0;
    overflow: hidden;
    min-width: 250px;
}

.content{
    min-width: 606px;
    padding: 50px;
    text-align: center;
    margin: auto;
}

/*
LOGIN/REGISTER
*/

#loginHeaderWrapper {
    height: 50px;
}

#loginHead {
    width: 104px;
    cursor: pointer;
    float: left;
    background-color: lightgrey;
}

#loginForm {
    margin: auto;
    width: 220px;
    display: block;
}

#registerHead {
    width: 128px;
    cursor: pointer;
    float: right;
}

#registerForm {
    margin: auto;
    width: 410px;
    display: none;
    position: relative;
    padding-bottom: 20px;
}

#loginWrapper {
    width: 100%;
    text-align: center;
    display: block;
}

#loginInnerWrapper {
    /*width: 410px;*/
    position: relative;
    text-align: center;
    margin: 10px auto;
    /*    height: 330px;*/
}

#loginHeaderWrapper {
    margin: 10px auto;
    width: 240px;
}

/*
NAVIGATION
*/

nav li {
    list-style-type:none;
    margin-bottom:1px;
}

nav ul {
    padding: 0px;
}

nav li a:link {
    text-decoration: none;
    font-weight: bold;
    display: block;
    background: #00ff00;
    width: 125px;
    padding: 0.2em;
}

.nav {
    background: #cccccc;
    padding: 0px 50px;
    position: fixed;
    height: 100%;
}

nav {
    position: fixed;
    top: 100px;
    padding: 9px;
    z-index: 9999;
}


tr:last-child td:last-child{
    float: right;

}

.deactivated {
    background-color: lightgray;
    pointer-events: none;
}

.errorMessage h2 {
    color: red;
}

.infoMessage h2 {
    color: blue;
}

table{
    margin: auto;
}

/*
CRUD BUTTONS
*/

.button{
    font-size: 15px;
    border: 0px;
}

.save {
    background-color: green;
    color: white;
}

.reset{
    background-color: grey;
    color: white;
}

.abort{
    background-color: red;
    color: white;
}

.delete{
    background-color: red;
    color: white;
}

#pageWrapper {
    width: 100%;
}

#navBar {
    position: absolute;
    height: 100%;
    width: 150px;
    background-color: lightgrey;
}

#headerBar {
    position: absolute;
    width: 100%;
    min-width: 400px;
    height: 80px;
    background-color: lightgrey;
    text-align: center;
    padding-left: 150px;
    box-sizing: border-box;
    z-index: 9999;
}

#contentWrapper {
    position: absolute;
    padding-left: 150px;
    padding-top: 80px;
    margin: 0;
    width: 100%;
    min-width: 400px;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}

#menuButton {
    display: none;
}

#addPlaceWrapper {
    width: 100%;
    text-align: center;
    display: none;
}

#forgotPasswordWrapper {
    width: 100%;
    text-align: center;
    display: none;
}

#overviewWrapper {
    width: 100%;
    text-align: center;
    display: block;
}

#userEditViewWrapper {
    margin: auto;
    width: 410px;
    display: none;
    position: relative;
    padding-bottom: 20px;
}

.errorMessage {
    color: red;
    display: none;
    text-align: right;
}

#errorBox {
    color: red;
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

#errorBoxWrapper {
    width: 400px;
    margin: auto;
    display: none;
}

#errorBoxCloser {
    width: 40px;
    float: right;
}