/*
Best License EU
*/

.loginForm {
    margin: auto;
    width: 220px;
}

.registerForm {
    margin: auto;
    width: 410px;
    visibility: hidden;
    position: relative;
    top: -85px
}

.loginHead {
    width: 104px;
    cursor: pointer;
    float: left;
    background-color: lightgrey;
}

.registerHead {
    width: 128px;
    cursor: pointer;
    float: right
}


nav li {
   list-style-type:none;
   margin-bottom:1px; 
}

nav ul {
  padding: 0px;
}


nav li a:link {
   text-decoration: none;
   font-weight: bold;
   display: block;
   background: #6C6;
   width: 125px;
   padding: 0.2em;
}

.nav {
    background: #cccccc;
    float: left;
    padding: 5px 30px 650px 30px
}

.header{
    background: #cccccc;
    text-align: center;
    margin: 0px;
    height: 80px;
    padding: 10px
}

.content{
    position: relative;
    background: #99ff66;
    float: left;
    width: auto;

}